* {
    /* por padrao no html vem com preenchimentop e margem própria, então zeramos*/
    /* padding fica perto do conteúdo que estamos add na nossa página*/
    padding: 0;
    /* margem dos 4 cantos */
    margin: 0;
}

body {
    background-color: rgb(232, 237, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caixaPesquisa {
    /*position absolute faz com que o elemento possa estar em qualquer lugar da tela*/
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    padding: 10px;
    border-radius: 50px;
    /*permite um fácil alinhamento dos elementos*/
    display: flex;
    /*to justificando que tem que ficar os elementos totalmente p esquerda de um lado e totalmente na direita do outro lado, "espaçamento entre os elementos"*/
    justify-content: space-between;
    /*alinho todos os elementos no centro da minha caixa branca de pesquisa*/
    align-items: center;
}

.textoPesquisa {
    /*tiro linha, borda e fundo que vem por padrão no html*/
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    padding-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 320px;
}

.botaoPesquisa {
    /*deixou redondinho o botão, pois tava achatado*/
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(40, 81, 104, 0.829);
    /*deixei o icon da lupa bem centralizado no meio do fundo branco arredondado*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*fundo em baixo da imagem da calmAura pra não ficar espaçado entre o menu e a imagem calmAura*/
.fundo {
    background-color: rgba(106, 173, 175, 0.582);
}

/*imagem da calmAura que eu tentei fazer responsiva*/
.headerImagem {
    width: 100%;
    /*tá trocando o tamanho da altura de forma proporcional*/
    /*única parte do site que trabalha com responsividade*/
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

/*menu todo*/
nav {
    /*coloca a mesma fonte de escrita desde o menu até o submenu*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*estiliza as opcoes do menu*/
ul {
    /*a coluna do menu*/
    background-color: rgba(106, 173, 175, 0.582);
    /*opcoes alinhadas na coluna do menu*/
    text-align: center;
}

/*vai estilizar do meu menu até o submenu*/
ul li {
    /*pra não ficar as opções do menu um em baixo do outro e sim um do lado do outro*/
    display: inline-block;
    /*pro meu submenu ocupar só o espaço da opção, e não de todas as opções*/
    /*opcao==categoria, o submenu deve respeitar o espaço da categoria*/
    position: relative;
}

/*estiliza o menu e o submenu*/
ul li a {
    /*cada opcao vai ocupar toda a largura disponível da coluna*/
    display: block;
    padding: 25px 25px;
    color: rgb(40, 81, 104);
    /*pra nao ficar com o traco do link por ser tag <a>*/
    text-decoration: none;
    font-size: 35px;
}

/*estilizando o submenu com as linhas divisórias de cada opção*/
ul li ul.dropCategoria li,
ul li ul.dropNecessidades li {
    display: block;
    border-top: 1px solid rgba(31, 81, 105, 0.856);
}

/*estilo pros submenus*/
ul li ul.dropCategoria,
ul li ul.dropNecessidades {
    width: 100%;
    background-color: rgba(186, 219, 219, 0.897);
    position: absolute;
    /*z-index pra conseguir olhar as opcoes inteiras do submenu, pois a posiçao dele fica acima de todos os elementos da página*/
    z-index: 999;
    display: none;
}

/*quando o mouse passa as letrinhas ficam mais clarinhas e o cursor */
ul li a:hover {
    color: rgba(40, 81, 104, 0.692);
    cursor: pointer;
}

/*mostra os submenus quando o mouse passa sobre os itens de lista pai (categoria e necessidades) */
ul li:hover ul.dropCategoria,
ul li:hover ul.dropNecessidades {
    display: block;
}

/*icons no menu*/
/*muda a posicao dos icons do lado esquerdo*/
.icons-esquerdo {
    position: absolute;
    margin-top: -4.2%;
    left: 3.5%;
    display: flex;
    align-items: center;
    gap: 30px;
}

/*muda a posicao dos icons do lado direito*/
.icons-direito {
    position: absolute;
    margin-top: -4.2%;
    right: 5%;
    display: flex;
    align-items: center;
    gap: 30px;
}

/*ajusta o tamanho deles e o formato p ficar bem redondinho*/
.iconIG,
.iconGMAIL,
.iconCarrinho,
.iconConta {
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

/*quando passa o mouse o cursor muda e fica mais escuro o icon*/
.iconIG:hover,
.iconGMAIL:hover,
.iconCarrinho:hover,
.iconConta:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

/*"container" onde eu posiciono o meu quadrado e o fundo do meu quadrado*/
.container {
    margin-top: 30px;
    margin-left: 25%;
    width: 1000px;
    height: 500px;
}

.quadrado {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(203, 214, 236, 0.671);
}

.fundoQuadrado {
    position: absolute;
    margin-left: -5px;
    margin-top: -3px;
    width: 1020px;
    height: 510px;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.692);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
}

/*titulo da recuperação*/
.bordaRecuperacao {
    position: relative;
    background-color: rgba(117, 124, 141, 0.349);
    height: 50px;
    width: 600px;
    top: 40px;
    margin-left: 18%;
    padding: 20px;
    border-radius: 50px;
}

.recuperacao {
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(26, 39, 63);
    font-size: 40px;
}

/*as 2 setinhas posicionadas*/
.iconeSeta {
    margin-top: 10%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 150px;
    height: 50px;
    width: 50px;
}

/*enfeita o input, mexendo no exterior*/
.credenciais {
    background-color: whitesmoke;
    height: 50px;
    width: 750px;
    margin-left: 12%;
    margin-top: -70px;
    margin-bottom: 105px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ddd;
}

/*enfeita o input, mexendo no interior*/
.email {
    /*tiro linha, borda e fundo que vem por padrão no html*/
    background: none;
    border: 0;
    outline: 0;
    font-size: 25px;
    padding-left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    margin-top: 10px;
}

/*estiliza a escrita do link que iria para uma futura página de opções para enviar o código de verificação*/
.codigoVerificaçao {
    position: absolute;
    margin-top: -90px;
    margin-left: 25%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(26, 39, 63);
    font-size: 35px;
    text-align: center;
}

/*titulo do "informe o código"*/
.bordaInformeCodigo {
    position: relative;
    background-color: rgba(117, 124, 141, 0.349);
    height: 30px;
    width: 300px;
    margin-left: 12%;
    padding: 15px;
    top: 20px;
    border-radius: 50px;
}

.informeCodigo {
    text-align: center;
    font-size: 35px;
    margin-top: -10px;
    color: rgb(26, 39, 63);
}

.doisPontos {
    font-size: 30px;
    font-weight: bold;
    margin-top: -45px;
    margin-left: 110%;
    color: rgb(26, 39, 63);
}

/*mexe na posicao de todos os 4 balaozinhos de inserir código*/
.codigo-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: -55px;
    margin-left: 350px;
}

/*mexe no interior dos balaozinhos de inserir código*/
.codigo1,
.codigo2,
.codigo3,
.codigo4 {
    border: 0;
    outline: 0;
    background-color: whitesmoke;
    height: 30px;
    width: 30px;
    padding: 20px;
    border-radius: 35%;
    border: 1px solid #ddd;
    font-size: 35px;
    text-align: center;
}

/*remove a seta do input number*/
.codigo1::-webkit-inner-spin-button,
.codigo2::-webkit-inner-spin-button,
.codigo3::-webkit-inner-spin-button,
.codigo4::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*todo o footer*/
.rodape {
    height: 120px;
    background-image: url('footer\(calmAura\).PNG');
    padding: 35px;

}

.endereco {
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(20, 20, 20, 0.781);

}

.rodapeVERSAO {
    font-size: medium;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.849);
}

.rodapeTERMOS {
    font-size: medium;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.849);
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.849);
}

.empresa {
    color: rgba(0, 0, 0, 0.849);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}